*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/app/src/generated/debug/javalite/aicc_adas/AiccAdas.java
/app/src/generated/release/javalite/aicc_adas/AiccAdas.java
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.idea/misc.xml
/app/release/output-metadata.json
/.idea/vcs.xml
/app/src/main/jniLibs/
